# User specific aliases

# directory
alias ..="cd ../"
alias ...="cd ../../"
alias ....="cd ../../../"
alias ..2="cd ../../"
alias ..3="cd ../../../"
alias p="pwd"
alias u="cd ../"
alias home="cd ~"

# ls

alias ls="ls --color=auto --group-directories-first"
alias ll="ls -alF --group-directories-first"
alias la="ls -A --group-directories-first"
alias l="ls -CF --group-directories-first"

# git
alias g="git"
alias ga="git add"
alias gd="git diff"
alias gs="git status"
alias gp="git push"
alias gpu="git pull"
alias gprune="git pull --prune"
alias gb="git branch"
alias gc="git commit -m"
alias gca="git commit -am"
alias gamend="git commit --amend"
alias gch="git checkout"
alias gl="git log"
alias gf="git fetch"
alias gm="git merge"
alias gr:s="git reset --soft HEAD^"
alias gr:h="git reset --hard HEAD^"

# edit
alias e="vim"

# yarn
alias ya="yarn"

# others
source ~/.aliases_etc
