[submodule ".config/zsh/antigen"]
	path = .config/zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".config/zsh/pure"]
	path = .config/zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
