[user]
  email = contact@mkobayashi.me
  name = Masaki Kobayashi
[alias]
  graph = log --oneline --graph --all --decorate --pretty=format:'%C(yellow)%h%Creset %C(green)%d%Creset %s %C(blue)[%an]%Creset %ad' --date=format:'%Y.%m.%d %H:%M:%S'
[core]
  quotepath = false
  excludesfile = ~/.gitignore-global
[color]
  diff = auto
  status = auto
  branch = auto
[merge]
  conflictstyle = diff3
  ff = false
[pull]
  ff = only
[fetch]
  prune = true
[rebase]
  autosquash = true
  autostash = true
[push]
  default = current
[init]
  defaultBranch = main
[submodule]
  recurse = true
[rerere]
  enabled = true
[url "git@github.com:"]
  insteadOf = https://github.com/
