[user]
  email = contact@mkobayashi.me
  name = Masaki Kobayashi
[core]
  editor = vim -c \"set fenc=utf-8\"
  quotepath = false
[color]
  diff = auto
  status = auto
  branch = auto
[merge]
  conflictstyle = diff3
  ff = false
[pull]
  ff = only
[fetch]
  prune = true
[rebase]
  autosquash = true
  autostash = true
[push]
  default = current
[init]
  defaultBranch = main
[submodule]
  recurse = true
