[submodule ".zsh/antigen"]
	path = .zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".zsh/pure"]
	path = .zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
